body {
  background-color: #f0f8ff; /* un azul clarito */
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 50px;
}


.calculadora {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  display: inline-block;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

input {
  margin: 10px;
  padding: 10px;
  width: 150px;
  font-size: 16px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 18px;
  cursor: pointer;
  
  /* Cambia la forma */
  border-radius: 20px; /* hace los bordes bien redonditos, tipo pastilla */
  
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #45a049;
  transform: scale(1.05); /* ligero aumento de tamaño al pasar el mouse */
}

h2 {
  margin-top: 20px;
}
